spring:
  application:
    name: StockTrading

  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: rootrewansh
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 8080
